# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
old/
.mypy_cache/
/.idea/
*Copia*.sqlite
/miniature_dipinte/static/miniature_dipinte/immagini/
/miniature_dipinte/static/css/
/miniature_dipinte/static/fonts/
/miniature_dipinte/static/js/
171227
180101
