{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'miniature_dipinte/stile x10.css' %}" />
   <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>


<scelta>

<ul>
  <li><a href="./prossimi_dipinti_generale">Generale</a></li>
  <li><a href="./marche">Marche</a></li>
  <li><a href="./prossimi_dipinti">Anno</a></li>
  <li><a href="./prossimi_dipinti_truppe">Truppe</a></li>
  <li><a href="./prossimi_dipinti_elite">Elite</a></li>
  <br>
  <li><a href="./dipinte">Dipinte</a></li>
</ul>
</scelta>


    <div id="content">
        {% block content %}prova{% endblock %}
    </div>


</body>
</html>